<!DOCTYPE html>
<html lang="sl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Šolski radio</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/png" href="images/kujira.jpg">
  <style>
    body {
      background-color: #f4f4f4;
    }

    .ui.menu .header.item {
      font-size: 1.5em;
    }

    section.container {
      margin-top: 20px;
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    .ui.segment {
      margin-top: 20px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    audio {
      width: 100%;
      margin-top: 10px;
      background-color: #282c34;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    audio::-webkit-media-controls {
      background-color: #282c34;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    audio::-webkit-media-controls-play-button {
      color: #ff6363;
    }

    audio::-webkit-media-controls-volume-slider {
      background-color: transparent;
    }

    button.ui.red.button,
    button.ui.blue.button {
      margin-top: 10px;
    }

    /* Dodatki za sodobnejši izgled predvajalnika */
    audio::-webkit-media-controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    audio::-webkit-media-controls-play-button {
      font-size: 20px;
    }
  </style>
</head>

<body>
  <nav class="ui inverted black menu">
    <header class="header item"> <a href="/"> Šolski radio </a> </header>
    <div class="right menu">
      <a class="item" href="/data"> Data</a>
      <a class="item" href="/radio"> Radio</a>
      <% if (user) { %>
        <a class="item" href="/upload"> Nalaganje</a>
        <a class="item" href="/library"> Knjižnica</a>
        <a class="item" href="/settings"> <%= user.name %></a>
        <a class="item" href="/logout"> Logout</a>
      <% } else { %>
        <a class="item" href="/login"> Login</a>
      <% } %>
    </div>
  </nav> 
  <section class="ui container">
    <h1 class="ui dividing header">Naložene pesmi</h1>
    <div class="alert alert-danger" role="alert" style="display: none;"></div>
    <div class="alert alert-success" role="alert" style="display: none;"></div>
    
    <div class="search-container ui input">
      <input type="text" id="searchInput" placeholder="Išči...">
    </div>

    <% songs.forEach(song => { %>
      <div class="ui segment">
        <h3 class="ui header"><%= song.name %></h3>
        <audio controls>
          <source src="/music/<%= encodeURIComponent(song.name) %>" type="audio/mp3">
          Your browser does not support the audio element.
        </audio>

        <% if (song.isInPlaying) { %>
          <button class="ui red button" onclick="removeFromPlaylist('<%= encodeURIComponent(song.name) %>')">Odstrani iz playliste</button>
        <% } else { %>
          <button class="ui blue button" onclick="addToPlaylist('<%= encodeURIComponent(song.name) %>')">Dodaj na playlisto</button>
        <% } %>

        <button class="ui red button" onclick="deleteSong('<%= encodeURIComponent(song.name) %>')">Izbriši</button>
      </div>
    <% }); %>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.ui.dropdown').dropdown({ on: 'hover' });

      // Dodaj iskanje
      $('#searchInput').on('input', function () {
        filterSongs($(this).val());
      });

      function filterSongs(query) {
        query = query.toLowerCase();
        $('.ui.segment').each(function () {
          var songName = $(this).find('.ui.header').text().toLowerCase();
          if (songName.includes(query)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      }
    });

    function deleteSong(songName) {
      // Izvedi API klic za izbris pesmi
      $.ajax({
        url: `/delete-song/${encodeURIComponent(songName)}`,
        type: 'DELETE',
        success: function (data) {
          console.log(data.message);
          // Prikaži uspešno obvestilo
          showSuccessMessage(data.message);
          // Ponovno naloži stran ali izvedi dodatne korake po potrebi
          refreshPage();
        },
        error: function (error) {
          console.error('Napaka pri izbrisu pesmi:', error.responseJSON.error);
          // Prikaži obvestilo o napaki
          console.log("Napaka");
          showErrorMessage(error.responseJSON.error);
          console.log("Napaka");
        }
      });
    }

    function addToPlaylist(songName) {
      // Izvedi API klic za dodajanje pesmi na seznam predvajanja
      $.post(`/add-to-playlist/${encodeURIComponent(songName)}`, function (data) {
        console.log(data.message);
        // Dodaj dodatne korake po potrebi
        refreshPage();
      })
        .fail(function (error) {
          console.error('Napaka pri dodajanju pesmi na seznam predvajanja:', error.responseJSON.error);
          // Obvesti uporabnika o napaki po potrebi
        });
    }

    function removeFromPlaylist(songName) {
      // Izvedi API klic za odstranjevanje pesmi s seznama predvajanja
      $.post(`/remove-from-playlist/${encodeURIComponent(songName)}`, function (data) {
        console.log(data.message);
        // Dodaj dodatne korake po potrebi
        refreshPage();
      })
        .fail(function (error) {
          console.error('Napaka pri odstranjevanju pesmi s seznama predvajanja:', error.responseJSON.error);
          // Obvesti uporabnika o napaki po potrebi
        });
    }

    function refreshPage() {
      location.reload(); // Ponovno naloži stran ali izvedi dodatne korake po potrebi
    }

    // Funkcija za prikazovanje uspešnega obvestila
    function showSuccessMessage(message) {
      $('.alert-success').text(message);
      $('.alert-success').show();
      setTimeout(function () {
        $('.alert-success').fadeOut();
      }, 3000);
    }

    // Funkcija za prikazovanje obvestila o napaki
    function showErrorMessage(message) {
      $('.alert-danger').text(message);
      $('.alert-danger').show();
      console.log("Se izvede napaka");
    }
  </script>
</body>

</html>
